dspy
firebase_admin
langchain
langchain_community
langchain_core
langchain_openai
numpy
pandas
scikit_learn
st_pages
streamlit
streamlit_antd_components
streamlit_extras
streamlit_javascript
streamlit_shadcn_ui
toml
user_agents
socialvec
openpyxl