@import url('https://fonts.googleapis.com/css2?family=Gidole:wght@100&display=swap');

html, body [class*="css"] {
    font-family: 'Garamond', serif;
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}

/* Extend to style sac-markdown elements */
.sac-markdown {
    font-family: 'Garamond', serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #091747 !important;
}